html {
}

body {
    overflow: hidden;
    background: #666;
    color: #ddd;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#container {
    display: block;
    position: relative;

    -webkit-user-select: none;
    user-select: none;

    padding-top: 10%;
}

h1 {
	margin: 30px auto 30px auto;
}

button {
    cursor: pointer;
}

#strip-buttons:hover .button-locked {
    margin-top: 3px;
    box-shadow: 0px 3px 0px 0px rgba(61,199,34,0.75);
}

button.colorbtn .play-indicator::after {
    content: "▶";
    float: right;
    display: inline;
    position: absolute;
    right: 10%;
    top: 15px;
}

button.colorbtn.button-locked {
    margin-bottom: -30px;
}
button.colorbtn.button-locked:not(:first-child) {
    margin-top: -30px;
}

button.colorbtn.button-locked:hover {
    margin-bottom: -30px;
    box-shadow: 0px 6px 0px 0px rgba(61,199,34,0.75);
}

button.colorbtn:hover {
    cursor: pointer;
	box-shadow: 0px 3px 0px 0px rgba(61,199,34,0.75);
	margin-top: 3px;
    margin-bottom: 27px;
}

button.colorbtn {
    margin-bottom: 30px;
}

button:focus {
    outline: none;
}

button.colorbtn:active {
    margin-top: 6px;
    margin-bottom: 24px;
	box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.75);
}

button:disabled {
    box-shadow: none;
    margin-top: 0px;
    background-color: darkgrey !important;
}

button.colorbtn {
	transition: 0.06s linear all;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 6px 0px 0px rgba(61,199,34,0.75);
}

button.colorbtn.offline {
    box-shadow: 0px 6px 0px 0px rgba(199, 46, 42, 0.75);
}

#main {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.flexible-space {
	width: 70px;
}

#lock-strips {
    position: relative;
    background-size: contain;
    height: 40px;
    width: 40px;
    margin: 36px auto 30px auto;
    cursor: pointer;
}

.strips {
	max-width: 420px;
    min-width: 220px;
	flex-grow: 1;
    margin-bottom: 30px;
}

.colorbtn:first-child {
	z-index: 10;
}

.colorbtn:nth-child(n+2) {
	z-index: 9;
}

.colorbtn {
    position: relative;
    max-width: 80%;
    height: 60px;
    width: 280px;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s ease-in-out top;
}

.colorbtn-error {
    box-shadow: 0px 10px 0px 0px rgba(204,50,50,0.75);
}

#config-space {
    display: block;
    width: 100%;
    position: relative;
}

.config-item-row {
    width: 65%;
    margin: 10px auto;
}

.config-item-row:after {
    clear: both;
    content: " ";
    display: block;
}

.config-item-row input {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

.config-item-row input[type="checkbox"] {
    width: 13px;
    height: 13px;
    float: right;
    margin-top: 4px;
}

.config-item.item-left {
    float: left;
}

.config-item.item-right {
    float: right;
}

#color-overlay-container {
    z-index: 50;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: 0.1s linear all;
    overflow: scroll;
    user-select: none;
}

.modal-container-short {
    margin: 10% 0 5% 0;
}

#color-overlay-modal {
    z-index: 5;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#color-overlay-content {
    width: 320px;
    max-width: 320px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid gray;
    box-shadow: 0 0 14px 5px rgba(0,0,0,0.2);
}

#color-overlay-content {
    transform: scale(0.8);
    transition: 0.2s ease-out all;
}

.modal-open #color-overlay-content {
    transform: scale(1);
}

#color-overlay-modal.modal-open {
}

#color-overlay-button-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font: 30px/100% arial, sans-serif;
    color: gray;
    text-align: center;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    z-index: 5;
    transition: 0.2s ease-out all;
}

#color-overlay-button-close:after {
    content: '×'; /* utf-8 'x' symbol */
}

#color-overlay-button-close:hover {
    transform: rotateZ(90deg);
}

#color-overlay-button-close:active {
    color: black;
}

#color-picker-canvas {
    width: 100%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#color-picker-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: gray;
    font-size: 18px;
}

#color-picker-container {
    position: relative;
    height: 240px;
    width: 100%;
    border-bottom: 1px solid gray;
}

#color-preview-div {
    background-color: rgb(0, 0, 0);
    border-style: dashed;
    border-width: 1px;
    position: absolute;
    width: 70%;
    height: 40px;
    border-radius: 7px;
    left: 50%;
    bottom: -40px;
    transform: translateY(-50%) translateX(-50%);

    text-align: center;
    font-size: 20px;

    line-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;

    user-select: none;
}

#pattern-picker-container {
    position: relative;
}

#pattern-picker-title {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: gray;
    font-size: 18px;
}

#preset-container {
    padding-top: 55px;
    padding-bottom: 30px;
    display: inline-flex;
}

.button-collection {
    display: block;
    width: 100%;
    top: 60px;
    position: relative;
}

.preset-button:hover {
    color: white;
}

.preset-button {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.1s linear all;
    vertical-align: top;
    padding: 0;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.preset-button:hover {
    box-shadow: 
        inset 0px 0px 30px 0px rgba(0,0,0,0.5),
        0px 0px 4px 1px rgba(0,0,0,0.5);
    border-color: lightgray;
}

.preset-button:active {
    box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.75);
    border-color: grey;
}

.preset-button.button-selected {
    border: 3px solid lime;
    box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.75);
}

#pattern-switch {
    background-image: repeating-linear-gradient( 90deg, white, white 50%, black 50%, black 100% );
}

#pattern-switch:hover {
    background-image: repeating-linear-gradient( 90deg, black, black 50%, white 50%, white 100% );
}

#pattern-music-hue {
    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(left, #ff0000 0%, #ff9f05 25%, #f2ff05 50%, #15ff05 75%, #0000ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff0000 0%,#ff9f05 25%,#f2ff05 50%,#15ff05 75%,#0000ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff0000 0%,#ff9f05 25%,#f2ff05 50%,#15ff05 75%,#0000ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@keyframes rainbow-fade-anim {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -30px;
    }
}

@keyframes wave-anim {
    from {
        right: -10px;
    }
    to {
        right: 42px;
    }
}

@keyframes fade-anim {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(359deg);
    }
}